/* Add screen styles below */

body {
      height: 100%;
      margin: 0;
    }

h1 {
  margin-left: 222px;
}

nav {
    width: 160px;
    height: 100vh;
    float: left;
    background-color: #4285F4; 
    position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
}

nav a {
    font-size: 18px;
    font-family: helvetica;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

nav ul {
    list-style: none; 
    padding-top: 90px;
    padding-left: 24px; 
    margin: 0; 
    }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-top: 16px; 
  padding-bottom: 48px;
  padding-left: 64px;
  padding-right: 64px;
  margin-left: 160px;
}

.card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
